*{
    font-family: 'Hahmlet', serif;
    background-color: black;
    color: white;
}
.jspicture{
    font-size:70px; 
    padding:30px 0 60px;  
    letter-spacing:-1px; 
    width:100%; 
    text-align:center;
}

a{text-decoration-line: none;}

table{
    text-align: center;
    margin: auto;
}

td{
    padding: 10px;
}

td:hover{
    box-shadow: 0 0 5px #ccc;
    transition: 0.1s;
}

.line{
    clear : both;
    padding:60px 0; 
    width:100%;
    color: white;
}

footer{
    font-family: 'Noto Sans KR', sans-serif;
    clear : both;
    padding:30px 0;  
    letter-spacing:-1px; 
    width:100%; 
    text-align: center;
}